<h2>Select a School to add to your list:</h2>
</br>

<div class="container">
  <div class="row">
    <div class="col-md-3">
    </div>

    <div class="col-md-6">

      <div class="well" style="background:white;">

				<%= form_for @user_school do |f| %>
					<p><%= f.select :school_id, options_from_collection_for_select(@schools, 'id', 'name', @schools[0].id) %></p>
					<p><%= f.submit 'Select School', class: "btn btn-primary" %></p>
				<% end %>
			</div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>

</br>
<h3>Don't See Your School?</h3>
<%= link_to "Add Your School", new_school_path %>