<h1>My Activity</h1>
</br>
</br>

<div class="container">
  <div class="row">
    <div class="col-md-6">
			<h3>My Recent Posts:</h3>
			</br>
			<% @user.posts.each do |p| %>
				<p><%= p.school.name %></p>
				<p><%= p.course.name %></p>
				<p><strong><%= p.title %></strong></p>
				<p><%= p.description %></p>
			<% end %>
    </div>

    <div class="col-md-6">
			<h3>My Friends:</h3>
			</br>


    </div>

   </div>
</div>