<h1>my activity</h1>

<h3>my recent posts:</h3>


<% @user.posts.each do |p| %>
	<p><%= p.school.name %></p>
	<p><%= p.course.name %></p>
	<p><strong><%= p.title %></strong></p>
	<p><%= p.description %></p>
<% end %>