<div id="footer">
  <div class="container">
  </br>
	</br>
    <p class="footer-block">Copyright 2015 CourseDiscuss</p>	
    <p>About us   Privacy Policy   Terms/Conditions   Community</p>
  </br>
 	</div>
</div>