<div id="footer">
  <div class="container">
  </br>
	</br>
    <p class="footer-block">Copyright 2015 CourseDiscuss</p>	
    <p><%= link_to 'About us', about_path %>   <%= link_to 'Privacy Policy', about_path %>   <%= link_to 'Terms/Conditions', about_path %>   <%= link_to 'Community', about_path %></p>
  </br>
 	</div>
</div>